$dark-primary-color = #643A92
$primary-color = #673AB7
$text-icon-color = #FFFFFF
$accent-color = #FB3392
$primary-text = #212121
$secondary-text = #757575
$divider-color = #BDBDBD



body
  font-family 'Roboto', sans-serif
  font-weight: 400
  background-color: #F4F5F9

// .master-content
.form-wrapper
  min-height: 100vh
.logo
  font-weight: 900
  text-align: center
  color $dark-primary-color
  margin-bottom: 30px
  line-height: 1
.login-form
  width 320px
  margin 0 auto
  display flex
  flex-direction: column
  border-radius: 8px
  overflow hidden
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  background-color: #fff;
  position relative
  // padding 15px
  // min-height: 320px
  .form-header
    background-color: $dark-primary-color
    padding 15px
    margin-bottom: 30px
    h1
      color #fff
      font-weight: 100
      font-size: 24px
      margin 0
  .fields
    padding: 0 15px
  .input-row
    position: relative
    height 35px
    &:not(:last-of-type)
      margin-bottom: 20px
    .text-input
      border none
      outline: none
      width 100%
      height 100%
      display block
      // border-radius 8px
      // background-color #FFFFFF
      // box-shadow 0 7px 14px 0 rgba(0,0,0,0.11)
      border-bottom: 2px solid #aaa
      padding 0
      &:focus, &.notEmpty
        outline: none
        border-color $dark-primary-color
      &:focus + label.text-input-label, &.notEmpty + label.text-input-label
        top 15px
        transform translateY(-30px) translateX(-5px) scale(.8)
        color $dark-primary-color
    label.text-input-label
      margin 0
      position absolute
      {$dir} 15px
      top 45%
      z-index 99
      transform translateY(-50%) scale(1)
      transition all .2s ease
      color #aaa
      font-size 15px
      font-weight 300
      line-height 29px
      -webkit-touch-callout none
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select none
      -ms-user-select none
      user-select none
      &.focused
        top 15px
        transform translateY(-32px) translateX(-5px) scale(.8)
        color $dark-primary-color
    &.multi-select-row
      height auto
    input#languages-select-selectized
      top 3px
    .selectize-control
      height 100%
    .selectize-input
      border none
      box-shadow: none
      outline: none
      border-radius: 0
      width 100%
      height 100%
      display block
      // border-radius 8px
      // background-color #FFFFFF
      // box-shadow 0 7px 14px 0 rgba(0,0,0,0.11)
      border-bottom: 2px solid #aaa
      padding 0
      min-height: 35px
      &:focus
        border-color $dark-primary-color
    .selectize-control
      &.focused
        .selectize-input
          border-color $dark-primary-color
    .selectize-control.multi .selectize-input [data-value]
      text-shadow: none
      background: #643a92
      border: none
      border-radius: 18px
      margin-bottom: 5px
      position: relative
      top: 3px
    &.checkbox-input-row
      height auto
      margin-top: 19px
      // margin-bottom: 10px
    .checkbox-input-label
      color $primary-text
      padding-left 15px
      position relative
      margin: 0
      font-weight: 300
      -webkit-touch-callout none
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select none
      -ms-user-select none
      user-select none
      &:before
        content ''
        width 10px
        height 10px
        border-radius: 2px
        background-color: $divider-color
        display inline-block
        position absolute
        left 0
        top 48%
        transform: translateY(-50%)

    .checkbox-input
      display none
      &:checked + .checkbox-input-label
        &:before
          background-color: $dark-primary-color

    &.submit-row
      margin-bottom: 15px
    .submit-form
      border none
      outline: none
      background-color: $dark-primary-color
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)
      border-radius 3px
      color #fff
      padding 5px 15px
      cursor pointer
      font-weight: 300
      // margin 0 0 15px 0
      width 100%
      &:hover
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
        background-color: $primary-color

  .links
    .navigation-link
      color $dark-primary-color
      margin-bottom: 15px
      display block
      text-align: center
      text-decoration: none
      transition: all .2s ease
      &:hover
        color $primary-color